/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(_variables.css);

/* start nav */


.header_area .main-menu .nav-item .nav-link {
    font-family: var(--roboto);
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
    font-weight: 600;
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end nav */